#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=System Monitor
GenericName=System Monitor
Comment=CPU, memory, GPU, disk, network and sensor monitoring
Icon=utilities-system-monitor
Exec=/home/dnsk/dev/sysmon/sysmon.sh
Terminal=false
Categories=System;Monitor;
Keywords=system;monitor;cpu;memory;gpu;disk;network;sensors;process;
StartupNotify=true
StartupWMClass=dev.dnsk.Sysmon
